
<div class="container mb-5">
  <h2><fa-icon [icon]="fa.globe"></fa-icon> Stock Summary</h2>

  <div class="row mb-3 mt-4">
    <div class="col-md-6">
      <app-display-card title="Number of individual products" [faIcon]="fa.list" linkText="Refresh" (linkClicked)="loadData(true)">
        <span *ngIf="loadState == dataState.Waiting"> <fa-icon [icon]="fa.spinner" spin="true" size="1x" style="color: #eaeaea"></fa-icon> </span>
        <span *ngIf="loadState == dataState.Error" class="text-muted h5"> {{ errorMessage }} </span>
        <span *ngIf="loadState == dataState.Success"> {{ productCount | number : '1.0-0' : 'en-US' }} </span>
      </app-display-card>
    </div>

    <div class="col-md-6">
      <app-display-card title="Total products in stock" [faIcon]="fa.cubes" linkText="Refresh" (linkClicked)="loadData(true)">
        <span *ngIf="loadState == dataState.Waiting"> <fa-icon [icon]="fa.spinner" spin="true" size="1x" style="color: #eaeaea"></fa-icon> </span>
        <span *ngIf="loadState == dataState.Error" class="text-muted h5"> {{ errorMessage }} </span>
        <span *ngIf="loadState == dataState.Success"> {{ stockCount | number : '1.0-0' : 'en-US' }} </span>
      </app-display-card>
    </div>
  </div>
</div>
