
<!--<div class="container mb-5">-->
<!--  <h2><fa-icon [icon]="exchange-alt"></fa-icon> Actions</h2>-->

<!--  <div class="row mt-4">-->
<!--    <div class="col-md-4 text-center my-2">-->
<!--    <button class="btn btn-light" type="button" (click)="navigateToStockView()"><fa-icon [icon]="search"></fa-icon> Browse Stocked Items</button>-->
<!--    </div>-->

<!--    <div class="col-md-4 text-center my-2">-->
<!--    <button class="btn btn-light" type="button"><fa-icon [icon]="sign-in-alt"></fa-icon> Add Purchase/Sales Order</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<app-stock-summary></app-stock-summary>

<app-stock-metrics></app-stock-metrics>

<app-stock-insights></app-stock-insights>
